@import 'mixins.scss';

.main {
    .main__container {
        .main__container__hero {
            background-image: url(../assets/img/imagen_inicio.png);
            @include center-repeat-size-height(center, no-repeat, cover, 90vh);
        
            .main__container__hero__eslogan {
                padding-top: 12.5vh;
                color: map-get($colores, color-blanco);
        
                h1 {
                    font-size: map-get($fuentes, fuente-eslogan-lg); 
                }
            }
        }

        .main__container__circulo {
            background-color: map-get($colores, color-resalte);
        }

        .main__container__buttons {
            h2 {
                font-size: map-get($fuentes, fuente-grande);
            }
        
            a {
                img {
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .main__container__description {
            .main__container__description__eslogan {
                padding-left: 10vw;
            }
        }
    
        .main__container__bg {
            background-color: rgb(200, 200, 200);
        }
    }
}

@media (max-width: 1200px) {
    .main {
        .main__container {
            .main__container__buttons {
                a {
                    img {
                        height: 150px;
                    }
                }
            }
        
            .main__container__description {
                .main__container__description__eslogan {
                    padding-left: 20vw;
                  }
            }
        }
    }   
}

@media (max-width: 768px) {
    .main {
        .main__container {
            .main__container__hero {
                .main__container__hero__eslogan {
                    h1 {
                        font-size: map-get($fuentes, fuente-eslogan-sm);
                    }
                }
            }

            .main__container__buttons {
                h2 {
                    font-size: map-get($fuentes, fuente-normal);
                }
        
                a {
                    img {
                        height: 105px;
                    }
                }
            }
        }
    }
}