.main {
    .main__container {
        .main__container__hero__reservation {
            background-image: url(../assets/img/reservation_bg_1024.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
            opacity: 0.9;
        
            .main__container__hero__reservation__bg {
                background-color: map-get($colores, color-resalte);
        
                .main__container__hero__reservation__bg__section {
        
                    a {
                        color: map-get($colores, color-texto);
                    }
                }
            }
        }
    }
}