.main {
    .main__container {
        .main__container__hero__reservation {
            background-image: url(../assets/img/reserva_lg.png);
            @include center-repeat-size-height(center, no-repeat, cover, 70vh);
            opacity: 0.9;
        
            .main__container__hero__reservation__bg {
                background-color: map-get($colores, color-resalte);
        
                .main__container__hero__reservation__bg__section {
        
                    a {
                        color: map-get($colores, color-texto);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .main__container {
            .main__container__hero__reservation {
                background-image: url(../assets/img/reserva_sm.png);
            }
        }
    }
}