.main-404{
    .main-404__container{
        h1 {
            font-size: map-get($fuentes, fuente-404-lg);          
        }

        h2 {
            font-size: map-get($fuentes, fuente-extralg-lg);
        }

        p {
            font-size: map-get($fuentes, fuente-grande);
        }

        img {
            height: 350px;
        }

        .btn-primary {
            background-color: map-get($colores, color-resalte);
            border-color: map-get($colores, color-resalte);
        }
    }
}

@media (max-width: 768px) {
    .main-404 {
        .main-404__container {
            h1 {
                font-size: map-get($fuentes, fuente-404-sm);
            }

            h2 {
                font-size: map-get($fuentes, fuente-extralg-sm);
            }

            p {
                font-size: map-get($fuentes, fuente-normal);
            }

            img {
                height: 180px;
            }
        }
    }
}